body {
  margin: 0;
}

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gsc-results-wrapper-nooverlay {
  display: none !important;
}

#results {
  text-align: center;
}

#connect-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: white;
}

#spotify-connect {
  color: white;
  border-radius: 10px;
  border: none;
  background-color: #1db954;
}
